# This file contains an example configuration with RPi as secondary mcu

# See docs/Config_Reference.md for a description of parameters.

# The rpi microcontroller is used as secondary.
[mcu rpi]
serial: /tmp/klipper_host_mcu

# A led strip
[output_pin caselight]
pin: !rpi:gpio17
value: 0
shutdown_value: 0

# Fans
[output_pin casefan]
pin: !rpi:gpio27
value: 0
shutdown_value: 0

#[temperature_sensor Chamber]
#sensor_type: temperature_host
#sensor_path: /home/pi/chamber_temp.json